<div style="background-image: url('/images/slide-long-tweet-bg.png'); height: 300px;">
    <div style="margin: 0 auto;background:  url('/images/slide-long-tweet.png') no-repeat center; height: 300px;">
        <div style="position: relative; left: 810px;top:75px;color: #000000; text-align: left">
            <span style="font-size: 48px;">Long Tweet</span><br><br>
            <span style="font-size: 20px;">Share your long tweet to twitter</span><br>
            <span style="font-size: 20px;">without the 140 characters‘ limit.</span>
        </div>
        <a target="_blank" style="position: relative; left: 508px;top:125px;" href="https://itunes.apple.com/cn/app/zhang-wei-bo/id627842669?mt=8"><img src="/images/slide-long-tweet-btn.png"></a>
    </div>
</div>
